.Blogs-container{
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
}
.Blogs-container img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.author img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.author{
    display: flex;
}
.author-container{
    display: flex;
    justify-content: space-between;
    
}
.blog-title{
    text-align: start;
}

.readTime{
    border: 2px solid #6047EC;
    padding: 5px;
    border-radius: 5px;
    color: #6047EC;
    background-color: #6047ec2c;
}

.bookmark-list-container{
    background-color: #ddd;
    border-radius: 5px;
    padding: 25px;
    margin-top: 15px;
    text-align: start;
}